<ion-header>
  <ion-toolbar>
    <ion-title>JR Daycare</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="jumbotron">
    <!-- Image: https://unsplash.com/photos/1w20Cysy1cg -->
    <img alt="child-playing-image"
      src="https://images.unsplash.com/photo-1578349035260-9f3d4042f1f7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80" />
    <div class="content">
      <h1>Welcome to JR Daycare solution</h1>
      <p>Sign In and get a quote</p>
      <button ion-button (click)="goToLogin()">Sign In</button>
      <!-- <button ion-button (click)="goToPayment()">Payment</button> -->
      <!-- <button class="btn btn-pdf" ion-button (click)="goToPDFDemo()">GO TO PDF</button> -->
    </div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="6">
        <ion-card>
          <!-- Image: https://images.unsplash.com/photo-1587323655395-b1c77a12c89a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80 -->
          <img
            src="https://images.unsplash.com/photo-1587323655395-b1c77a12c89a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
            alt="Card Image">
          <ion-card-header>
            <ion-card-title>The Importance of Early Childhood Education</ion-card-title>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
          </ion-card-header>
          <ion-card-content>
            Early childhood education is an essential part of childcare, and it plays a crucial role in a child's
            development. Studies have shown that children who receive quality early childhood education are more likely
            to succeed academically and socially later in life. Early childhood education also helps children develop
            critical thinking, problem-solving, and socialization skills. This education can be provided in a variety of
            settings, including daycare centers, preschools, and at-home care.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-lg="6">
        <ion-card>
          <!-- Image: https://images.unsplash.com/flagged/photo-1570319736696-894f69f52bd3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80 -->
          <img
            src="https://images.unsplash.com/flagged/photo-1570319736696-894f69f52bd3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
            alt="Card Image">
          <ion-card-header>
            <ion-card-title>The Benefits of Play-Based Learning</ion-card-title>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
          </ion-card-header>
          <ion-card-content>
            Play-based learning is an approach to childcare that emphasizes the importance of play in a child's
            development. Play is essential for children to learn about their world, develop social skills, and enhance
            their creativity. Play-based learning can take many forms, such as free play, guided play, and structured
            activities. This approach to childcare allows children to learn in a way that is natural and enjoyable for
            them.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-lg="4">
        <ion-card>
          <!-- Image Source: https://images.unsplash.com/flagged/photo-1556776124-2f0ebdaef26b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80 -->
          <img
            src="https://images.unsplash.com/flagged/photo-1556776124-2f0ebdaef26b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
            alt="Card Image">
          <ion-card-header>
            <ion-card-title>Choosing the Right Childcare Provider</ion-card-title>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
          </ion-card-header>
          <ion-card-content>
            Choosing the right childcare provider is crucial for parents who need to entrust the care of their child to
            someone else. Some factors to consider when choosing a childcare provider include the quality of care, the
            provider's experience and qualifications, the environment, and the cost. It is important to do your research
            and visit potential providers to ensure that they meet your standards and can provide a safe and nurturing
            environment for your child.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-lg="4">
        <ion-card>
          <!-- Image Source: https://images.unsplash.com/photo-1615489548573-8165c2c35e1b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=873&q=80 -->
          <img
            src="https://images.unsplash.com/photo-1615489548573-8165c2c35e1b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=873&q=80"
            alt="Card Image">
          <ion-card-header>
            <ion-card-title>The Importance of Positive Discipline in Childcare</ion-card-title>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
          </ion-card-header>
          <ion-card-content>
            Positive discipline is a parenting approach that focuses on promoting good behavior rather than punishing
            bad behavior. This approach is essential in childcare because it helps children learn how to make good
            choices and take responsibility for their actions. Positive discipline involves setting clear expectations,
            providing consistent consequences, and offering praise and encouragement for positive behavior. It is an
            effective way to teach children the skills they need to become responsible and respectful adults.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-lg="4">
        <ion-card>
          <!-- Image Source: https://images.unsplash.com/flagged/photo-1572818640942-05bbb70c9089?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80 -->
          <img
            src="https://images.unsplash.com/flagged/photo-1572818640942-05bbb70c9089?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
            alt="Card Image">
          <ion-card-header>
            <ion-card-title>Balancing Work and Family</ion-card-title>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
          </ion-card-header>
          <ion-card-content>
            Balancing work and family is a challenge that many parents face, especially those who have young children.
            Finding quality childcare is essential for parents who need to work outside the home, but it can also be
            stressful and expensive. To balance work and family, parents should consider flexible work arrangements,
            such as telecommuting or flexible scheduling, and explore options for affordable childcare, such as
            subsidies or family assistance programs. By finding a balance between work and family, parents can ensure
            that their children receive the care and attention they need while also pursuing their careers.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-slides pager="true" loop>
    <ion-slide>
      <div class="profile">
        <img src="../../assets/mayur.jpeg">
        <h2>Mayur Malaviya</h2>
        <p>Our little guy spent his preschool days at this location when it was Peek-A-Boo and transitioned into Bright
          Path. He is now in JK and is doing wonderfully! His entire time at daycare was enjoyable. He learned a lot of
          socializing and independence. The entire staff showed our little guy lots of love and attention! We were very
          pleased with our experience and connection with staff. Thank you!</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="profile">
        <img src="../../assets/hit.jpeg">
        <h2>Hit Savaliya</h2>
        <p>Our little guy spent his preschool days at this location when it was Peek-A-Boo and transitioned into Bright
          Path. He is now in JK and is doing wonderfully! His entire time at daycare was enjoyable. He learned a lot of
          socializing and independence. The entire staff showed our little guy lots of love and attention! We were very
          pleased with our experience and connection with staff. Thank you!</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="profile">
        <img src="../../assets/prince.jpeg">
        <h2>Prince Ginoya</h2>
        <p>Our little guy spent his preschool days at this location when it was Peek-A-Boo and transitioned into Bright
          Path. He is now in JK and is doing wonderfully! His entire time at daycare was enjoyable. He learned a lot of
          socializing and independence. The entire staff showed our little guy lots of love and attention! We were very
          pleased with our experience and connection with staff. Thank you!</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="profile">
        <img src="../../assets/mayur.jpeg">
        <h2>Mayur Malaviya</h2>
        <p>Our little guy spent his preschool days at this location when it was Peek-A-Boo and transitioned into Bright
          Path. He is now in JK and is doing wonderfully! His entire time at daycare was enjoyable. He learned a lot of
          socializing and independence. The entire staff showed our little guy lots of love and attention! We were very
          pleased with our experience and connection with staff. Thank you!</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="profile">
        <img src="../../assets/harshil.png">
        <h2>Harshil Kalariya</h2>
        <p>Our little guy spent his preschool days at this location when it was Peek-A-Boo and transitioned into Bright
          Path. He is now in JK and is doing wonderfully! His entire time at daycare was enjoyable. He learned a lot of
          socializing and independence. The entire staff showed our little guy lots of love and attention! We were very
          pleased with our experience and connection with staff. Thank you!</p>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer>
  <div class="footer-container">
    <div class="social-media">
      <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
      <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
      <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
    </div>
    <p>&copy; 2023 JR Daycare. All rights reserved.</p>
  </div>
</ion-footer>